
#reservations {
    position: relative;
    display: inline-block;
}



#reservations tr > td {
    cursor: pointer;
    min-width: 200px;
    width: 200px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    min-height: 30px;
    height: 30px;
    max-height: 30px;
}

table tr:nth-child(odd) > td {
    border-top: 1px solid #DDD;

}

table tr:nth-child(even) > td {
    border-top: 1px dotted #DDD;

}

#timings {
    position: absolute;
    text-align: right;
    background-color: #FFF;
    border-right: 1px solid #DDD;
    display: inline-block;
    z-index: 2;
    color: #787878;
    
}

#timings > table{
    text-align: right;
    
}

#timings tr > td{
    min-height: 30px;
    height: 30px;
    max-height: 30px;
}

#heading{
    color: #217C7E;
    position: absolute;
    background-color: #FFF;
    border-bottom: 1px solid #DDDDDD;
    z-index: 3;
}

#heading th{
    width: 200px;
    min-width: 200px;
}


.booking{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: CornflowerBlue;
    color: white;
    padding: 5px;
    display: inline;
    opacity: 0.75;
    z-index: 1;
    width: 188px;
}

#calendar > div{
    padding-left: 20px;
    padding-right: 20px;
}

#calendar div.heading{
    text-align: center;
}

#calendar div.heading > a{
    padding-left: 0px;
    padding-right: 0px;
}

#calendar div.heading > span.title{
    padding-right: 10px;
    padding-left: 10px;
}

#calendar div.heading > button#calendar-previous{
    float: left;
}

#calendar div.heading > button#calendar-next{
    float: left;
}


#calendar td{
    padding: 4px;
    color: #333333;
}


#calendar td > div.highlight{
    font-weight: bold;
}

#calendar td:hover{
    background-color: #0081C2;
    background-image: -moz-linear-gradient(center top , #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
    cursor: pointer;
}

#update_info{
    position:fixed;
    top: 45px;
    left: 10px;
    width: 200px;
    z-index: 5;
    display: none;
}
