body{
    background-image: url('../../assets/img/tennis_title.png');
    background-position: 0% 80px;

    background-repeat:no-repeat;
}

.home{
    background-color: transparent;
    background-image: url('../../assets/img/macbook_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 400px;
    margin-right: -80px;
}

.home h1 {
    margin-top: 10px;
    color: white;
}
.home h4 {
    margin-top: 20px;
    color: white;
}