body{
    background-image: url('../../assets/img/tennis_title.png'), url('../../assets/img/right-repeat-title.png');
    background-position: left 100px;
    background-repeat: no-repeat, repeat-x;
}

.home{
    background-color: transparent;
    background-image: url('../../assets/img/macbook_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 400px;
}

.home h1 {
    margin-top: 180px;
    color: white;
    font-size: 52px;
    font-weight: bold;
    width: 50%;
}
.home small {
    line-height: 2;
    color: white;
    font-size: 22px;
    width: 50%;
}